@model alongiYardscapes.Models.GalleryImages

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
@foreach (var img in Model.Images)
{
    <div class="slider">
        <div>
            <img class="" src="@img.Thumb" />
        </div>
    </div>
}




@section Scripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
}
