@model alongiYardscapes.Models.GalleryImages

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<div class="image-viewer">
    @{bool first = true; }
    @foreach (var img in Model.Images)
    {
        @if (first)
        {
            <div>
                <img class="full-image selected" src="@img.Image" />
            </div>
        }
        else
        {
            <div>
                <img class="full-image" src="@img.Image" />
            </div>
        }
        first = false; 
    }
</div>

<div class="slider">
    @foreach (var img in Model.Images)
    {
        <div>
            <img class="slider-image" src="@img.Thumb" />
        </div>
    }
</div>




@section Scripts{
    <script type="text/javascript">
        $(function () {
            AY.Gallery.Init();
        });
    </script>
}
