body {

    footer {
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 0.9rem;
        color: #969696;
        background-color: #101010;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #footer-spacer {
        background-color: #124a2f;
        height: 75px;
    }


    @media (min-height: 650px) {

        footer {
            padding-top: 15px;
            padding-bottom: 25px;
        }

        #footer-spacer {
            height: 100px;
        }
    }

    @media (min-height: 800px) {

        footer {
            padding-top: 25px;
            padding-bottom: 40px;
        }

        #footer-spacer {
            margin-top: 75px;
            height: 125px;
        }
    }


    @media (min-height: 900px) {

        footer {
            padding-top: 25px;
            padding-bottom: 40px;
        }

        #footer-spacer {
            margin-top: 125px;
            height: 125px;
        }
    }

    @media (min-height: 1000px) {

        footer {
            padding-top: 30px;
            padding-bottom: 60px;
        }

        #footer-spacer {
            background-color: transparent;
            height: 150px;
        }
    }
}
