body {

    footer {
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 0.9rem;
        color: #969696;
        background-color: #101010;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-color: #124a2f;
        border-width: 1vh 0 0 0;
        border-style: solid;
    }

    @media (min-height: 650px) {
        footer {
            padding-top: 15px;
            padding-bottom: 25px;
            border-width: 2vh 0 0 0;
        }
    }

    @media (min-height: 800px) {
        footer {
            padding-top: 25px;
            padding-bottom: 40px;
            border-width: 5vh 0 0 0;
        }
    }

    @media (min-height: 900px) {
        footer {
            padding-top: 25px;
            padding-bottom: 40px;
            border-width: 10vh 0 0 0;
        }
    }

    @media (min-height: 1000px) {

        footer {
            padding-top: 30px;
            padding-bottom: 60px;
            border-width: 15vh 0 0 0;
        }
    }
}
