img:focus, div:focus {
    outline: none;
}


// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) {
.image-viewer {
    padding: 10px;
    height: 60vh;

    .portrait {
        margin: auto;
        width: 85%;
    }

    .landscape {
        margin: auto;
        width: 100%;
    }

    .image-wrapper {
        display: none;

        .full-image {
        }
    }

    .selected {
        display: block;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .image-viewer {
        padding: 10px;
        height: 70vh;

        .portrait {
            margin: auto;
            width: 95%;
        }

        .landscape {
            margin: auto;
            width: 100%;
        }

        .image-wrapper {
            display: none;

            .full-image {
            }
        }

        .selected {
            display: block;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .image-viewer {
        padding: 10px;
        height: 70vh;

        .portrait {
            margin: auto;
            width: 70%;
        }

        .landscape {
            margin: auto;
            width: 100%;
        }

        .image-wrapper {
            display: none;

            .full-image {
            }
        }

        .selected {
            display: block;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .image-viewer {
        padding: 10px;
        height: 70vh;

        .portrait {
            margin: auto;
            width: 60%;
        }

        .landscape {
            margin: auto;
            width: 100%;
        }

        .image-wrapper {
            display: none;

            .full-image {
            }
        }

        .selected {
            display: block;
        }
    }

}


.slider {
    height: 12vh;

    .slider-image {
        padding: 5px;
        max-height: 80px;
    }

    .selected {
        background-color: gray;
    }

    .slick-dots li button:before {
        color: #fff;
    }
 
    @media (min-width: 768px) {
    }
   
    @media (min-width: 992px) {
    }
 
    @media (min-width: 1200px) {
        height: 10vh;

        .slider-image {
            padding: 5px;
            max-height: 125px;
        }

        .selected {
            background-color: gray;
        }

        .slick-dots li button:before {
            color: #fff;
        }
    }
}
