body {

    header {

        .green-bar {
            background-color: #124a2f;
            height: 65px;

            .contact-img {
                height: 18px;
                margin: 23px 40% 0 40%;
            }
        }


        .navbar {
            background-color: #c96722;
            box-shadow: inset 0px 20px 25px 0px #00000061;

            div {
                padding-bottom: 0;

                .navbar-collapse {
                    text-align: right;
                    padding-bottom: 20px;
                    /*      background-color: white;
                    z-index: 9;
                    position: relative;
                    top: 37px;
                    padding: 0 0 40px 35px;
                    box-shadow: inset 0 0 50px 0 #00000061;

                    ul li a.nav-link {
                        color: black !important;
                    }*/
                }


                ul {
                    position: relative;
                    top: 16px;

                    li {
                        padding-left: 20px;

                        a.nav-link {
                            color: #fff !important;
                            padding-top: 11px;
                            float: right;
                        }
                    }
                }
            }


            @media (min-width: 576px) {
                div {
                }
            }

            @media (min-width: 992px) {
                div {
                    padding-bottom: 15px;
                    /*.navbar-collapse {
                        background-color: transparent;
                        z-index: 9;
                        position: relative;
                        top: -7px;
                        padding: 0;
                        box-shadow: none;

                        ul li a.nav-link {
                            color: white !important;
                        }
                    }*/
                }
            }

            .navbar-brand {
                color: white;
                font-weight: bold;
                font-size: 2.0rem;
                position: relative;
                top: -10px;
                text-shadow: 4px 2px 9px #000000;
                padding-left: 15px;
            }

            .navbar-toggler {
                background-color: #f2c990;
                z-index: 1;
            }

            .button {
                background-color: #124a2f;
                height: 45px;
                border-radius: 22px;
                width: 105px;
                color: white !important;
                text-align: center;
            }
        }
    }
}
