.homeSliderVerbiage {
    position: absolute;
    margin: 25px;
    padding: 25px;
    z-index: 1;
    background: linear-gradient(#00000080, #000000, #0000000a);
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
