.homeSliderVerbiage {
    position: absolute;
    padding: 0 0 35px 10px;
    z-index: 1;
    background: linear-gradient( #ffffffff, #ffffff00);
    font-size: 15px;
    font-weight: bold;
    color: #393939;
}

@media (min-width: 992px) {
    .homeSliderVerbiage {
        position: absolute;
        margin: 25px;
        padding: 25px;
        z-index: 1;
        background: linear-gradient(#00000080, #000000, #0000000a);
        width: 40%;
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}
