.homeSliderVerbiage {
    position: relative;
    padding: 10px 0 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: #393939;
    line-height: 20px;
}

@media (min-width: 768px) {
    .homeSliderVerbiage {
        position: absolute;
        margin: 25px;
        padding: 25px;
        z-index: 1;
        background: linear-gradient(#00000080, #000000, #0000000a);
        width: 50%;
        font-size: 20px;
        font-weight: bold;
        color: white;
        line-height: 33px;
    }
}

@media (min-width: 992px) {
    .homeSliderVerbiage {
        position: absolute;
        margin: 25px;
        padding: 25px;
        z-index: 1;
        background: linear-gradient(#00000080, #000000, #0000000a);
        width: 40%;
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}
