#leaf {
    position: absolute;
    top: -135px;
    left: 1%;
    width: 400px;
    height: 400px;
    pointer-events: none;

    .leaf-path {
        fill: #5fd35320;
    }
}

@media (min-width: 575px) {
    #leaf {
        top: -175px;
        left: 20%;
        width: 600px;
        height: 600px;
    }
    .leaf-path {
        fill: #5fd35338;
    }
}
@media (min-width: 992px) {
    #leaf {
        top: -180px;
        left: 55%;
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1200px) {
    #leaf {
        top: -180px;
        left: 65%;
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1800px) {
    #leaf {
        top: -200px;
        left: 72%;
        width: 800px;
        height: 800px;
    }

}
