#logo {
    height: 40px;
    position: relative;
}

#logo-shadow {
    position: absolute;
    top: 7px;
    height: 45px;
}

@media (min-width: 576px) {

    #logo {
        height: 45px;
        position: relative;
    }

    #logo-shadow {
        position: absolute;
        top: 7px;
        height: 51px;
    }
}

@media (min-width: 992px) {
    #logo {
        height: 65px;
        position: relative;
        top: 10px;
    }

    #logo-shadow {
        position: absolute;
        top: 15px;
        height: 74px;
    }
}


