body{
    margin: 0;

    main{
        position:relative;
    }

    h3{
        font-style: italic;
        font-weight: bold;
        font-size:25px;
        clear:both;
        text-align: center;
    
    }
}