body {
    line-height: 1.45rem;
    font-family: 'Poppins', sans-serif;


    .main {

        main {
            position: relative;
            margin: 20px 0;


            h1 {
                font-size: 1.25rem;
                margin-bottom: 0.3rem;
                font-weight: bold;
            }

            h2 {
                font-size: 1.0rem;
            }

            h3 {
                font-style: italic;
                font-weight: bold;
                font-size: 0.8rem;
                clear: both;
                text-align: center;
            }

            ul {
                li {
                    margin-bottom: 7px;
                    color: #6e6e6e;
                }
            }
        }

        @media (min-width: 768px) {

            main {
                margin: 40px 0;

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 0.4rem;
                }

                h2 {
                    font-size: 1.0rem;
                }

                h3 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 0.8rem;
                    clear: both;
                    text-align: center;
                }
            }
        }

        @media (min-width: 992px) {

            main {

                h1 {
                    font-size: 2.25rem;
                    margin-bottom: 0.5rem;
                }

                h2 {
                    font-size: 0.9rem;
                }

                h3 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 0.8rem;
                    clear: both;
                    text-align: center;
                }
            }
        }

        @media (min-width: 1200px) {

            main {

                h1 {
                    font-size: 2.5rem;
                    margin-bottom: 0.5rem;
                }

                h2 {
                    font-size: 1.8rem;
                }

                h3 {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 25px;
                    clear: both;
                    text-align: center;
                }
            }
        }
    }
}
