.homeSlider {
    position: relative;

    .home-slide-show {
        width: 100%;

        &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}
