@model alongiYardscapes.Models.SlideShow

@{
    ViewData["Title"] = "Home Page";
}

<h1>About</h1>
<img src="~/images/aboutPhoto2.jpg" class="about-photo" />
<p>
    Sam Alongi is a licensed landscape contractor and owner of Alongi Yardscapes. Whether designing and installing a landscape or hardscape, crafting a unique landscape feature, or simply doing weekly yard maintenance, quality work and excellent customer service are the hallmark of Alongi Yardscapes. Projects under the Alongi Yardscapes name continue to proliferate: from the River Park neighborhood, throughout Sacramento and beyond.
</p>
<p>
    Sam lives in River Park with his son and two daughters. He draws on life experience, natural and architectural forms in the design and crafting of outdoor projects.
</p>
<h3>
    With a commitment to quality and detail, Sam works hard to ensure that every customer enjoys their outdoor space.
</h3>

@section Scripts{
    <script type="text/javascript">
        $(function () {
        });
    </script>
}
