@{
    ViewData["Title"] = "Services";
}
<div class="services">
    <h1>Services</h1>
    <p>
        If you are in need of a tailored landscape maintenance package, a new drought tolerant landscape design, or even a complete renovation; we will listen closely to your wants and needs to provide you the right landscape solution.
    </p>
    <img src="~/images/servicesPhoto.jpg" class="services-photo" />
    <h2>Areas of work:</h2>
    <ul>
        <li>Design—functional and interesting, reflective of the homeowner’s personality</li>
        <li>Construction—long lasting, sustainable</li>
        <li>Restoration—(lawns, fences, irrigation, gardens, hardscapes)</li>
        <li>Maintenance—weekly or every other week</li>
        <li>Sustainability– re-purposing of materials, use of responsibly forested products, low-water gardens</li>
    </ul>
    <h2>
        Types of work:
    </h2>
    <ul>
        <li>Decks</li>
        <li>Pergolas and structures</li>
        <li>Patios/concrete</li>
        <li>Stone and pavers</li>
        <li>Irrigation installation, repair, modification</li>
        <li>Water features</li>
        <li>Fences and gates</li>
        <li>Trees and plants</li>
        <li>Drought tolerant and/or California native plantings</li>
        <li>Lawn conversions per Sacramento programs</li>
        <li>Yard maintenance</li>
        <li>Retaining walls</li>
        <li>Sod</li>
        <li>Lighting</li>
    </ul>
</div>

<style>
    footer {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 0.8rem !important;
        border-width: 2vh 0 0 0 !important;
    }
</style>

@section Scripts{
<script type="text/javascript">
    $(function () {
    });
</script>
}
